In [5]:
import pandas as pd

In [6]:
df_mapping = pd.read_clipboard()

In [19]:
df_mapping.to_clipboard()

In [ ]:
[no]

In [17]:
_df_no

                              bfly answer  bfly_mean_def
1   heliconius_ismenius _melpomene     No       0.068646
2      heliconius_charithonia_sara     No       0.093169
3   heliconius_pardalinus_timareta     No       0.050471
4     heliconius_congener_heurippa     No       0.084656
5     heliconius_charithonia_sapho     No       0.092429
..                             ...    ...            ...
88      heliconius_congener_hecale     No       0.089441
89      heliconius_elevatus_numata     No       0.061936
91          heliconius_erato_sapho     No       0.094758
92   heliconius_charithonia_numata     No       0.088113
93      heliconius_melpomene_sapho     No       0.088378

[80 rows x 3 columns]

In [10]:
_df_yes = df_mapping.query("answer == 'Yes'")
_df_no = df_mapping.query("answer == 'No'")
_df_possible = df_mapping.query("answer == 'Possible'")

In [15]:
df_mapping.groupby("answer").apply(lambda x: x.bfly_mean_def.mean())

answer
No          0.079430
Possible    0.061990
Yes         0.053378
dtype: float64

In [13]:
import pandas as pd
import statsmodels.api as sm
from statsmodels.formula.api import ols
from statsmodels.stats.multicomp import pairwise_tukeyhsd

# Define your data
Yes = _df_yes.bfly_mean_def.to_list()
No = _df_no.bfly_mean_def.to_list()
Possible = _df_possible.bfly_mean_def.to_list()

# Combine data
data = pd.DataFrame({
    "value": Yes + No + Possible,
    "group": ["Yes"] * len(Yes) + ["No"] * len(No) + ["Possible"] * len(Possible)
})

# Fit ANOVA model
model = ols("value ~ group", data=data).fit()

# Perform ANOVA
anova_table = sm.stats.anova_lm(model, typ=2)
print("ANOVA Table:")
print(anova_table)

# Perform Tukey's HSD
tukey = pairwise_tukeyhsd(endog=data["value"], groups=data["group"], alpha=0.05)
print("\nTukey's HSD Test:")
print(tukey)

ANOVA Table:
            sum_sq    df          F   PR(>F)
group     0.005574   2.0  10.842642  0.00006
Residual  0.023392  91.0        NaN      NaN

Tukey's HSD Test:
  Multiple Comparison of Means - Tukey HSD, FWER=0.05
========================================================
 group1   group2  meandiff p-adj   lower   upper  reject
--------------------------------------------------------
      No Possible  -0.0174 0.0117 -0.0316 -0.0033   True
      No      Yes  -0.0261 0.0007 -0.0422 -0.0099   True
Possible      Yes  -0.0086 0.5821 -0.0292   0.012  False
--------------------------------------------------------

In [26]:
anova_table.to_clipboard()

In [22]:
tukey_summary = tukey.summary().data

# Convert the data to a DataFrame
tukey_df = pd.DataFrame(tukey_summary[1:], columns=tukey_summary[0])

In [27]:
tukey_df.to_clipboard()